@{
    ViewData["Title"] = "Home Page";
}


    <header class="bgimg" id="home">
        <style>
            img {
                border-radius: 50%;
                
            }

        </style>

        <img src="~/img/Main.png" />

    </header>

<div class="text-left mt-5 px-5">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="display-4">Lee's Drinks and Doughnuts £1 Shop</h1>
            <p>
                <font size="5">Every item you see for sale is only £1!</font>
</p>
            <p>
                <font size="5">Bringing you the best value for drinks and doughnuts since 2019!</font>
</p>
            <p>
                <font size="5">
                    Please click on the products button at the top of the page to begin your shop.
                    Thank you and have a good day.
                </font>

        </div>
    </div>
  
</div>